.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vh;
    
  }
  .heading{
      font-size: xx-large;
      font-weight: bold;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    
  }
  .nav-content{
      padding-left: 4vh;
      cursor: pointer;
  }
  
  .nav-content ::hover{
      background-color: #0374EC;
  }
  body{
      user-select: none;
  }